@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.border-red {
    border: 1px solid red;
}

.border-blue {
    border: 1px solid blue;
}

.border-green {
    border: 1px solid green;
}

li {
    list-style: none;
}

body {
    align-items: center;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif; 
}

.flex {
    display: flex;
} 

.flex-column {
    display: flex;
    flex-direction: column;
}

.sections-container {
    margin: 0 100px;
    max-width: 1200px;
}


img {
    cursor: pointer;
}

h1 {
    color: white;
}

.link {
    color: orange;
    text-decoration: none;
}




.section-title {
    flex-basis: 100%;
    font-size: 50px;
    margin-bottom: 60px;
    color: black;
}

.section-title-2 {
    margin-top: 60px;
    font-size: 30px;
    color:#fa6400;
}




/* Button1  */
.button-1 {
    align-items: center;
    background-clip: padding-box;
    background-color: #fa6400;
    border: 1px solid transparent;
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
    align-self: flex-start;
    margin-top: 10px;
  }
  
  .button-1:hover,
  .button-1:focus {
    background-color: #fb8332;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  }
  
  .button-1:hover {
    transform: translateY(-1px);
  }
  
  .button-1:active {
    background-color: #c85000;
    box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
    transform: translateY(0);
  }

  .button-span {
      font-size: 20px;
  }

/* link */
.navlink {
    background-image: linear-gradient(
        to right,
        #fa6400,
        #fa6400 50%,
        rgb(255, 255, 255) 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
}

    .navlink:before {
        content: '';
        background: #fa6400;
        display: block;
        position: absolute;
        bottom: -3px;
        left: 0;
        width: 0;
        height: 3px;
        transition: all 0.3s ease-in-out;
    }

    .navlink:hover {
        background-position: 0;
    }

    .navlink:hover::before {
        width:100%;
}

/* lightbox */

#lightbox {
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .50);
    display: none;
}

#lightbox.active {
    display:flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
}


@media screen and (max-width: 3000px) {
    .body-wrapper {
        margin: 0 100px;
    }
}




                